body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default margin from body */
    background-color: #000;
	color:#fff;
    overflow-x: hidden;
}
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Behind all the other content */
}

.cv-container {
    background-color: transparent; /* added opacity*/
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
	backdrop-filter: blur(30px);
    max-width: 800px;
    margin: 50px auto; /* Center the container, with margin to make it appear at the center */
    position: relative; /* To make the inner elements not relative to the particles */
    z-index: 1; /* To make sure cv is above the particles */
}
header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee; /* Horizontal Line */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}
header p {
    margin: 5px 0;
    font-style: italic;
}

section {
    margin-bottom: 25px;
}

section h2 {
    border-bottom: 1px solid #eee; /* Horizontal Line */
    padding-bottom: 10px;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding-left: 0;
}
.contact ul li{
    line-height: 1.6;
}

.experience .job, .education .degree{
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;

}
.job h3, .degree h3{
    margin-bottom: 5px;
}
.job ul li{
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 5px;
}
.skills ul li, .projects ul li{
    margin-bottom: 5px;
}
.skills ul li:last-child, .projects ul li:last-child{
    margin-bottom: 0px;
}